/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: #8e44ad;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100vh;
}

#game {
    width: 800px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.loading {
    text-align: center;
    width: 100%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}

.card {
    width: calc((100% / 5) - 10px);
    margin: 5px;
    height: 155px;
    background-color: white;
    background-size: 100% auto !important;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat !important;
    position: relative;
    -webkit-transition: 0.25s linear;
    -o-transition: 0.25s linear;
    transition: 0.25s linear;
    cursor: pointer;
}

.card:hover:before {
    background-color: #653779;
}

.card.agreed {
    cursor: no-drop;
}

.card.agreed:after {
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    content: '✅';
    width: 20px;
    position: absolute;
    top: 6px;
    right: 6px;
    color: rgb(255 255 255);
    font-size: 14px;
}

.card.flip:before, .card.agreed:before{
    opacity: 0;
}

.card:before {
    content: '?';
    -webkit-transition: 0.25s linear;
    -o-transition: 0.25s linear;
    transition: 0.25s linear;
    width: 100%;
    height: 100%;
    background-color: rgb(75 33 93);
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(47 19 60);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    z-index: 3;
  }
